# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.bak-*
*.csv

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Logs
*.log

# Alembic cache
alembic/__pycache__/

# Node.js
node_modules/
dist/
build/
*.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
.AppleDouble
.LSOverride

# UI / Web build artifacts
ui/node_modules/
web/node_modules/
ui/dist/
web/dist/

# IDEs
.vscode/
.idea/
*.swp
